---
layout: page
permalink: /provedores/dns/
title: "Resolvedores de DNS Encriptados"
description: "Não deixe que o Google monitore seu tráfego DNS. Conheça alternativas com mais respeito à sua privacidade."
breadcrumb: "DNS"
---

{% include sections/dns.html %}

<h4>Glossário</h4>

<ul>
  <li>DNS-over-TLS (DoT) - Um protocolo de segurança para DNS encriptado, realizado na porta 853. Alguns provedores também suportam a porta 443, que geralmente funciona em qualquer local, enquanto a porta 853 é comumente bloqueada por firewalls restritivos. DoT tem dois modos:</li>
    <ul>
        <li>Modo Oportunístico: o cliente tenta estabelecer uma conexão DNS-over-TLS com o servidor na porta 853 sem verificar a validade do certificado de segurança. Se a conexão falhar, DNS não-encriptado será utilizado.
        {% include badge.html
        color="warning"
        icon="fas fa-exclamation-triangle"
        tooltip="Em outras palavras esse modo deixa seu tráfego DNS vulnerável a SSL Strip e ataques MITM."
        %}</li>
        <li>Modo Estrito: o cliente se conecta com um hostname específico e verifica a validade do certificado de segurança do mesmo. Se a validação falha, nenhuma requisição DNS é feita até que a validação seja bem-sucedida.</li>
    </ul>
  <li>DNS-over-HTTPS (DoH) - Similar ao DoT, mas utilizando HTTPS, com tráfego indistinguível do tráfego HTTPS "normal" na porta 443.
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    link="https://tools.ietf.org/html/rfc8484#section-8.2"
    tooltip="DoH contém metadados como o user-agent (no qual pode incluir informações do sistema), que são enviados ao servidor DNS."
    %}</li>
  <li>DNSCrypt - Um método antigo de encriptar DNS, porém robusto.</li>
</ul>

<h4>Como Verificar Se o DNS Está Encriptado</h4>

<ul>
  <li>DoH / DoT
    <ul>
      <li>Verifique no site <a href="https://www.dnsleaktest.com/">DNSLeakTest.com</a> (recurso em Inglês).
        {% include badge.html
        color="warning"
        icon="fas fa-exclamation-triangle"
        tooltip="Seu provedor DNS pode não aparecer com seu nome verdadeiro, então compare as respostas com o que você conhece ou possa encontrar a respeito do seu provedor DNS. Apenas lembre-se de verificar que não apareça seu provedor de Internet ou algum provedor DNS não-encriptado antigo que você já tenha utilizado anteriormente."
        %}</li>
      <li>Verifique no site do seu provedor DNS. Eles podem ter alguma página que verifica se você está utilizando o DNS deles. Exemplos incluem <a href="https://adguard.com/pt_br/adguard-dns/overview.html">AdGuard</a> e <a href="https://1.1.1.1/help">Cloudflare</a> (recurso em Inglês).</li>
      <li>Se estiver utilizando o Trusted Recursive Resolver (TRR) do Firefox, navegue até <code>about:networking#dns</code>. Se a coluna TRR estiver como <code>true</code> para alguns campos, você está utilizando DoH.
        {% include badge.html
        color="warning"
        icon="fas fa-exclamation-triangle"
        link="https://wiki.mozilla.org/Trusted_Recursive_Resolver"
        tooltip="Alguns campos irão ter o valor 'false' dependendo do valor do atributo network.trr.mode em about:config"
        %}</li>
    </ul>
  </li>
  <li>dnscrypt-proxy - Verifique <a href="https://github.com/jedisct1/dnscrypt-proxy/wiki/Checking">na wiki dnscrypt-proxy a guia de como verificar se sua DNS está encriptada</a> (em Inglês).</li>
  <li>DNSSEC - Verifique em <a href="https://dnssec.vs.uni-due.de/">DNSSEC Resolver Test por Matthäus Wander</a> (em Inglês).</li>
  <li>Minimização QNAME - Execute <code>dig +short txt qnamemintest.internet.nl</code> na linha de comando do seu sistema operacional (dica <a href="https://nlnetlabs.nl/downloads/presentations/unbound_qnamemin_oarc24.pdf">desse slide da NLnet Labs</a>, em Inglês). Se você estiver utilizando Windows 10, execute <code>Resolve-DnsName -Type TXT -Name qnamemintest.internet.nl</code> no PowerShell. A seguinte mensagem deve ser retornada: <code>"HOORAY - QNAME minimisation is enabled on your resolver :)!"</code></li>
</ul>

<h3 id="clientes">Menções Honrosas e Informações Adicionais</h3>

<ul>
  <li><strong>Clientes de DNS Encriptado para Computadores de Mesa e Laptops:</strong>
    <ul>
      <li><em>Firefox</em> vem com suporte a DoH embutido com Cloudflare selecionado como resolvedor padrão, mas pode ser configurado para utilizar qualquer resolvedor DoH.
        {% include badge.html
        color="warning"
        icon="fas fa-exclamation-triangle"
        link="https://developers.cloudflare.com/1.1.1.1/commitment-to-privacy/privacy-policy/firefox/"
        tooltip="&quot;Cloudflare concordou em coletar somente uma quantidade limitada de dados sobre as requisições DNS que são enviadas para o resolvedor Cloudflare para Firefox.&quot;"
        %}
        Atualmente a Mozilla está <a href="https://blog.mozilla.org/futurereleases/2019/07/31/dns-over-https-doh-update-detecting-managed-networks-and-user-choice/">conduzindo estudos</a> antes de habilitar DoH por padrão para todos os usuários Firefox residentes dos EUA.</li>
          <ul>
              <li>DNS-over-HTTPS pode ser habilitado em Menu -> Preferências (<code>about:preferences</code>) -> Configurações de rede -> Ativar DNS sobre HTTPS. Em "Usar provedor" selecione "Personalizado", e digite o endereço do seu provedor DoH.</li>
              <li>Usuários avançados podem habilitar a configuração em <code>about:config</code> ao mudar os valores de <code>network.trr.custom_uri</code> e <code>network.trr.uri</code> para o endereço que você encontrar na documentação do seu provedor DoH e o valor de <code>network.trr.mode</code> para <code>2</code>. Também pode ser vantajoso mudar o valor de <code>network.security.esni.enabled</code> para <code>True</code>, de forma que habilita SNI encriptado e faça sites que suportam ESNI um pouco mais difíceis de rastrear.</li>
          </ul>
    </ul>
  </li>
  <li><strong>Clientes de DNS Encriptado para Dispositivos Móveis:</strong>
    <ul>
      <li><em>Android 9</em> já inclui um cliente DoT embutido <a href="https://support.google.com/android/answer/9654714?hl=pt-BR">por padrão</a>.
        {% include badge.html
        color="warning"
        icon="fas fa-exclamation-triangle"
        link="https://www.quad9.net/private-dns-quad9-android9/"
        tooltip="...mas com algumas desvantagens (recurso em Inglês)"
        %}</li>
        <ul>
          <li>Nós recomendamos selecionar <em>Nome do host do provedor de DNS particular</em> e digitar o endereço DoT da documentação do seu provedor DoT para habilitar o modo estrito (ver termos acima).
            {% include badge.html
            color="warning"
            icon="fas fa-exclamation-triangle"
            tooltip="Se você estiver numa rede que bloqueia o acesso à porta 853, o Android mostrará um erro sobre a rede não ter conexão à Internet."
            %}</li>
        </ul>
      <li><em><a href="https://apps.apple.com/app/id1452162351">DNSCloak</a></em> - Um cliente DNSCrypt e DoH com <a href="https://github.com/s-s/dnscloak">código-fonte aberto</a> para iOS por <td><a data-toggle="tooltip" data-placement="bottom" data-original-title='"Organização de hospedagem sem fins lucrativos e de caridade para projetos internacionais de Software Livre."' href="https://techcultivation.org/">Center for the Cultivation of Technology gemeinnuetzige GmbH</a>.</li>
      <li><em><a href="https://git.frostnerd.com/PublicAndroidApps/smokescreen/blob/master/README.md">Nebulo</a></em> - Um aplicativo Android com código-fonte aberto que suporta DoH e DoT. Também suporta cachê para respostas DNS e salvar logs de registro locais para requisições DNS.</li>
    </ul>
  </li>
  <li><strong>Servidores DNS locais:</strong>
    <ul>
      <li><em><a href="https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+Daemon+-+Stubby">Stubby</a></em> - Um programa com código-fonte aberto para Linux, macOS, e Windows que age como um resolvedor DNS local usando DoT.</li>
      <li><em><a href="https://nlnetlabs.nl/projects/unbound/about/">Unbound</a></em> - Um resolvedor DNS com validação, cache e recursividade. Também pode ser rodado na rede local e tem suporte para DNS-over-TLS desde a versão 1.7.3.</li>
      <ul>
          <li>Veja também <a href="https://www.ctrl.blog/entry/unbound-tls-forwarding.html">Actually secure DNS over TLS in Unbound on ctrl.blog</a> (em Inglês).</li>
      </ul>
    </ul>
  </li>
  <li><strong>Servidores DNS para Redes:</strong>
    <ul>
      <li><em><a href="https://pi-hole.net/">Pi-hole</a></em> - Um servidor DNS para redes criado principalmente para o Raspberry Pi. Bloqueia anúncios, rastreadores, e domínios maliciosos para todos os dispositivos da sua rede.</li>
      <li><em><a href="https://gitlab.com/quidsup/notrack">NoTrack</a></em> - Um servidor DNS para redes parecido com o Pi-hole para bloquear anúncios, rastreadores, e domínios maliciosos.</li>
    </ul>
  </li>
  <li><strong>Mais leituras (em Inglês):</strong>
    <ul>
      <li>Sobre Firefox, DoH e ESNI</li>
          <ul>
              <li><a href="https://wiki.mozilla.org/Trusted_Recursive_Resolver">Trusted Recursive Resolver (DoH) on MozillaWiki</a></li>
              <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1500289">Firefox bug report requesting the ability to use ESNI without DoH</a></li>
              <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1542754">Firefox bug report requesting the ability to use Android 9+'s Private DNS (DoT) and benefit from encrypted SNI without having to enable DoH</a></li>
              <li><a href="https://blog.cloudflare.com/encrypted-sni/">Encrypt it or lose it: how encrypted SNI works on Cloudflare blog</a></li>
          </ul>
      <li><a href="https://www.isc.org/blogs/qname-minimization-and-privacy/">QNAME Minimization and Your Privacy</a> por Internet Systems Consortium (ISC)</li>
      <li><a href="https://www.isc.org/dnssec/">DNSSEC and BIND 9</a> por ISC</li>
    </ul>
  </li>
</ul>
